body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 3rem;
}

button {
  padding: 0.5rem 2rem;
  border: none;
  background-color: #ffdb89;
  cursor: pointer;
}
input {
  padding: 0.5rem 0;
  border: none;
  background-color: antiquewhite;
}
